apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubeclarity-postgres
  labels:
    app: kubeclarity-postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kubeclarity-postgres
  template:
    metadata:
      labels:
        app: kubeclarity-postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15.3
          imagePullPolicy: IfNotPresent
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: kubeclarity-db-secret
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: kubeclarity-db-secret
                  key: POSTGRES_PASSWORD
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: kubeclarity-db-secret
                  key: POSTGRES_DB
          ports:
            - containerPort: 5432
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-data
          persistentVolumeClaim:
            claimName: postgres-pvc
