apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base

patches:
  - target:
      group: argoproj.io
      version: v1alpha1
      kind: Application
      name: kubeclarity
    patch: |-
      apiVersion: argoproj.io/v1alpha1
      kind: Application
      metadata:
        name: kubeclarity
      spec:
        destination:
          namespace: kubeclarity-dev

  - target:
      group: argoproj.io
      version: v1alpha1
      kind: Application
      name: kubeclarity
    patch: |-
      apiVersion: argoproj.io/v1alpha1
      kind: Application
      metadata:
        name: kubeclarity
      spec:
        sources:
          - repoURL: 'https://openclarity.github.io/kubeclarity'
            chart: kubeclarity
            targetRevision: "2.23.3"
            helm:
              releaseName: kubeclarity
              valueFiles:
                - $values/charts/kubeclarity/dev-values.yaml
