apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kubeclarity
spec:
  sources:
    - repoURL: 'https://openclarity.github.io/kubeclarity'
      chart: kubeclarity
      targetRevision: "2.23.3"
      helm:
        releaseName: kubeclarity
        valueFiles:
          - $values/charts/kubeclarity/prod-values.yaml
