apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
patches:
  - target:
      kind: Application
      name: external-secrets-operator
      # namespace of the Application resource in the base (usually argocd)
      namespace: argocd
    patch: |-
      apiVersion: argoproj.io/v1alpha1
      kind: Application
      metadata:
        name: external-secrets-operator
      spec:
        source:
          helm:
            valueFiles:
              - base-values.yml
              - overlays/dev/values-patch.yml
        destination:
          namespace: external-secrets2
