# dev values (overlay)
replicaCount: 1

controller:
  logLevel: debug
  syncInterval: "30s"

resources:
  manager:
    requests:
      cpu: "50m"
      memory: "100Mi"
    limits:
      cpu: "250m"
      memory: "256Mi"

providers:
  aws:
    enabled: false
  vault:
    enabled: false
